<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>cn.willbc.alfred-search-selection</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>740AD61A-78E7-4184-8FD3-5C0B68E31D77</key>
		<array/>
		<key>BD987238-2AC5-457D-8E22-004655EF976D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>740AD61A-78E7-4184-8FD3-5C0B68E31D77</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Will B Chang</string>
	<key>description</key>
	<string>Text/Image Search, Open url(s) from selected text.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Search Selection</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>ruby script.rb "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>script.py</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>740AD61A-78E7-4184-8FD3-5C0B68E31D77</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>1</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>S</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>BD987238-2AC5-457D-8E22-004655EF976D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Open url(s).
    Open all urls from selected text.
	Include raw domains like example.com
Text Search in Default Browser.
    Search single line
    Search multiple lines.
Image Search: 
	Select a local image or browse in Alfred File Search and press 	hotkey, wait for 5 ~ 10 seconds.</string>
	<key>uidata</key>
	<dict>
		<key>740AD61A-78E7-4184-8FD3-5C0B68E31D77</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<integer>415</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>BD987238-2AC5-457D-8E22-004655EF976D</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<integer>195</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>2.3.0</string>
	<key>webaddress</key>
	<string>https://github.com/willbchang/alfred-search-selection</string>
</dict>
</plist>
