<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>darkthemeuid</key>
	<string>theme.fileimport.F2AE1B1B-C566-4D6E-9FC0-BE44DE6B0BCB</string>
	<key>lightthemeuid</key>
	<string>theme.fileimport.F2AE1B1B-C566-4D6E-9FC0-BE44DE6B0BCB</string>
</dict>
</plist>
