<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>debugScope</key>
	<integer>1</integer>
	<key>useproxy</key>
	<true/>
	<key>useproxyprefix</key>
	<true/>
	<key>useproxyprefixhttp</key>
	<string>http://127.0.0.1:1087</string>
	<key>useproxyprefixhttps</key>
	<string>http://127.0.0.1:1087</string>
</dict>
</plist>
