<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentthemeuid</key>
	<string>theme.fileimport.13371FE6-ACA6-452C-A33E-B9DA94EB68B4</string>
	<key>darkthemeuid</key>
	<string>theme.custom.683C1E1B-417D-48E3-B78E-56517890BC70</string>
	<key>lightthemeuid</key>
	<string>theme.custom.683C1E1B-417D-48E3-B78E-56517890BC70</string>
</dict>
</plist>
