<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>130AF76D-B1AF-402E-AA97-A398F16C103D</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>imslp</string>
			<key>text</key>
			<string>IMSLP</string>
			<key>url</key>
			<string>https://www.google.com/search?q=site:imslp.org%20{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>3996FEFF-59DF-4C82-AF71-3A52E8415CAC</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>wiki</string>
			<key>text</key>
			<string>维基百科</string>
			<key>url</key>
			<string>https://zh.wikipedia.org/w/index.php?title=Special:%E6%90%9C%E7%B4%A2&amp;search={query}&amp;ns0=1</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>98491215-E035-4552-9AEA-575822FFFB23</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>icon</string>
			<key>text</key>
			<string>Icon Search</string>
			<key>url</key>
			<string>https://www.flaticon.com/search?word={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>9EBDDCCE-F409-43A9-A5CA-874212620833</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>mdn</string>
			<key>text</key>
			<string>MDN</string>
			<key>url</key>
			<string>https://mdn.io/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>A5B3022A-67FE-41FF-B8A5-F7BC5E7A4ECC</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>tb</string>
			<key>text</key>
			<string>Taobao</string>
			<key>url</key>
			<string>https://s.taobao.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>BFB4901A-32FC-4F3A-A246-690E8F7E384E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>bili</string>
			<key>text</key>
			<string>Bilibili</string>
			<key>url</key>
			<string>https://search.bilibili.com/all?keyword={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>D8C2D65D-4C4C-4AC7-9394-32D53433DF56</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>tv</string>
			<key>text</key>
			<string>Tencent Video</string>
			<key>url</key>
			<string>https://v.qq.com/x/search/?q={query}&amp;stag=&amp;smartbox_ab=</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>DA8A9928-04C6-4A67-8312-BC37FFD5BF88</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gs</string>
			<key>text</key>
			<string>Google Scholar</string>
			<key>url</key>
			<string>https://scholar.google.com/scholar?hl=en&amp;as_sdt=0%2C5&amp;q={query}&amp;btnG=</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>FAE7F21F-7E5E-4230-BBAD-DE1C9A0D415B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>tr</string>
			<key>text</key>
			<string>Translating '{query}'</string>
			<key>url</key>
			<string>https://translate.google.cn/?source=osdd#view=home&amp;op=translate&amp;sl=auto&amp;tl=en&amp;text={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
	<key>onlyShowEnabledInPrefs</key>
	<true/>
</dict>
</plist>
