<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>cn.willbc.alfred-enhanced-dictionary</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>287548FA-D7DE-4711-A3DC-728BB6097191</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>30AD5442-0643-4760-9BA9-36421B423AAE</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Open in Dictionary</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4F6EB06F-ADA8-4FC7-9FC5-7DC841A15571</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>619D4D04-7928-4210-85A4-A311D204AA94</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Search in Google Dictionary</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>79559687-E759-478B-929E-5CC9AEDFBAA6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>287548FA-D7DE-4711-A3DC-728BB6097191</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Will B Chang</string>
	<key>description</key>
	<string>Define word and correct spelling together!</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Correct &amp; Define Word</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>dict://{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>30AD5442-0643-4760-9BA9-36421B423AAE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>keyword</key>
				<string>c</string>
				<key>language</key>
				<string></string>
				<key>showallwords</key>
				<false/>
				<key>subtext</key>
				<string>Press enter to paste correct word, cmd+enter to open it in dictionary.</string>
				<key>title</key>
				<string>Define or correct a word</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.dictionaryfilter</string>
			<key>uid</key>
			<string>287548FA-D7DE-4711-A3DC-728BB6097191</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>8</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>C</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>79559687-E759-478B-929E-5CC9AEDFBAA6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>4F6EB06F-ADA8-4FC7-9FC5-7DC841A15571</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.google.com/search?q=Dictionary#dobs={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>619D4D04-7928-4210-85A4-A311D204AA94</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>287548FA-D7DE-4711-A3DC-728BB6097191</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>205</integer>
		</dict>
		<key>30AD5442-0643-4760-9BA9-36421B423AAE</key>
		<dict>
			<key>xpos</key>
			<integer>495</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
		<key>4F6EB06F-ADA8-4FC7-9FC5-7DC841A15571</key>
		<dict>
			<key>xpos</key>
			<integer>495</integer>
			<key>ypos</key>
			<integer>205</integer>
		</dict>
		<key>619D4D04-7928-4210-85A4-A311D204AA94</key>
		<dict>
			<key>xpos</key>
			<integer>495</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>79559687-E759-478B-929E-5CC9AEDFBAA6</key>
		<dict>
			<key>xpos</key>
			<integer>110</integer>
			<key>ypos</key>
			<integer>205</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/willbchang/alfred-enhanced-dictionary</string>
</dict>
</plist>
